.how-it-works-buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  margin-bottom: 2rem;
}
.how-it-works-buttons button {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 1.1rem;
  padding: 0.5em 1em;
  background-color: var(--color-grey);
  border: none;
  border-radius: 0.5em;
  font-weight: bold;
  text-align: left;
}
.how-it-works-buttons img {
  height: 2.8em;
  width: 2.8em;
  padding: 0.7em;
  border-radius: 50%;
  background-color: var(--color-primary);
}
.how-it-works-buttons button.active {
  background-color: var(--color-primary);
  color: #fff;
}
.how-it-works-buttons button.active img {
  background-color: #d23d48;
}

.how-it-works-content .card {
  display: none;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--color-grey);
}
.how-it-works-content .card.active {
  display: flex;
}
.card .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  padding: 2rem;
}
.card .title {
  font-size: 2rem;
  font-weight: bold;
}
.card .desc {
  font-size: 1.3rem;
  color: #555;
}
.card .link {
  display: flex;
  gap: 1em;
  align-items: center;
  padding: 0.7em 1.1em;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  text-transform: capitalize;
  background-color: var(--color-primary);
  color: #fff;
  border-radius: 0.5em;
  text-wrap-mode: nowrap;
}
/* .card .link svg {
  height: 1.5em;
  width: 1.5em;
} */