/* base */
@import '../base/base.css';
@import '../base/layout.css';

/* vendors */
@import '../vendors/font-awesome.min.css';

/* components */
@import '../components/header.css';
@import '../components/hero.css';
@import '../components/testimonials.css';
@import '../components/contact-us.css';
@import '../components/subscribe.css';
@import '../components/service-card.css';
@import '../components/how-it-works.css';
@import '../components/portfolio-gallery.css';

/* CUSTOM STYLE FOR THIS PAGE GOES BELOW THIS COMMENT */

.about-us .section-texts {
  padding: 2rem;
}